* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    font-size: 24px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

header h1 {
    font-family: serif;
    font-size: calc(clamp(.5rem, 8vw, 3.0rem));
}

.cat { color: papayawhip; font-style: normal; }
.cat::before { content: "🐈 "; }

.featured {
    color: blue; background-color: papayawhip;
    border-width: 10px 0 10px 0;
    border-style: solid;
    border-color: #01b;
    border-radius: 10px;
}

.cat.featured { font-size: 120%; }

body {
    gap: 3rem;
    display: flex; flex-direction: column;
}

main {
    padding: 0 1rem 2rem 1rem;
    display: flex; flex-direction: column;
    gap: 3rem;
}

header {
    display: flex; flex-direction: column;
    padding: .5rem 1rem .5rem;
    border-bottom: 1px solid #01b;
    background-color: papayawhip;
}

.heading-container {
    display: flex; flex-direction: column;
    gap: .5rem;
}

nav { display: flex; flex-direction: row; gap: 2rem; }
menu { display: flex; flex-direction: row; padding: 5px 0; gap: 1rem; }

#recent-adoptions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background: #eee;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#recent-adoptions div {
    display: flex; flex-direction: row;
    gap: 1rem;
}

#recent-adoptions li {
    border: 1px solid navy;
    background: papayawhip;
    padding: 1rem;
    width: 200px;
    list-style: none;
}

header nav button {
    display: none;
    font-size: 8vw;
    padding: 0 .1rem;
}

@media (max-width: 800px) {
    header nav menu,
    header nav form
    { display: none; }
    header nav button { display: block; }
    header h1 + p { display: none; }
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    header:has(nav button:hover) {
        flex-direction: column;
    }

    header nav button:hover ~ menu {
        display: flex;
    }
}
