#cat_search {
    width: 3em;
}

#cat_results { 
    display: none;
}

.selected {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .95);
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    justify-content: center;
}

.selected #cat_search {
    width: 100%;
    font-size: 125%;
}

.selected #cat_results {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 125%;
    color: navy;
}
