<!doctype html>

<script src="/main.js" type="module"></script>

<input>

<h1>Hiyo!
We have
{{cats|length}}
cat{{cats|length|pluralize}}</h1>

{% if not user.is_anonymous %}
<p>
You are logged in as {{ user }}
<a href="/logout">
Log out
</a>
</p>
{% else %}
<p>
Please <a href="/login?next=/">log in</a>
</p>
{% endif %}

<p>Our favorite cats are:
{% for cat in cats %}
  {% if cat.name %}
  <a href="/cat/{{cat.id}}">{{cat.name}} is {{cat.adoptability}}% adoptable</a>
  {% else %}
  an unnamed cat (not adoptable yet, but soon!)
  {% endif %}
  {% if not forloop.last %}, {% endif %}
{% endfor %}

</ul>
