<!doctype html>
<script type="module" src="/static/main.js"></script>

<h1>Log in</h1>

<form method="post" action="/login">
  <output>
    <ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </output>

  {% csrf_token %}
  <input type="hidden" name="next" value="{{next}}">

  <label>Username: <input name="user"></label>
  <label>Password: <input name="pass" type="password"></label>
  <label><input id="show_pwd_box" type=checkbox> Show password</label>
  <button>Log in</button>
</form>
